@using MVC_WebApplication.Models 

@{
    ViewBag.Title = "Index";

}
<h2>html helper demo</h2>
@{
    Html.BeginForm();
}
@Html.Label("Enter Name") @Html.TextBox("t1")<br/>
@Html.Label("Enter Address") @Html.TextArea("text")<br/>
@Html.Label("Enter Password") @Html.Password("userpass")<br/>

@Html.Label("select Gender") Male @Html.RadioButton("Gender", "Male")&nbsp;
                             Female @Html.RadioButton("Gender", "Female")<br />

@Html.Label("Select Gender")
<select class ="form-control">
    <option>select Gender</option> 
    <option>Male</option> 
    <option>Female</option> 

</select>
<br /><br />
@Html.DropDownList("Student Gender",
                    new SelectList(Enum.GetValues(typeof(Gender))),
                    "select Gender",
                    new{@class="form-Control"})
                         
<br /><br /><br />
@Html.CheckBox("Select") I Agree
@{Html.EndForm();}